<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TotalDomination.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TotalDomination.Properties.Settings>
            <setting name="TodoListFile" serializeAs="String">
                <value />
            </setting>
            <setting name="NewDayStart" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="BackupsCount" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="TodosPerDay" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ToolTipMaxWidth" serializeAs="String">
                <value>874</value>
            </setting>
        </TotalDomination.Properties.Settings>
    </userSettings>
</configuration>